<div class="row">
    <!--  pageheader  -->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title"><i class="fa fa-fw fa-clipboard-list"></i> Order </h2>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">WPKS</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Order</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- end pageheader  -->

    <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-header">Daftar Order </h5>
                <div class="card-body p-0"></div>
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <td class="card-body">
                                <table class="table" datatable="ng">
                                    <thead class="bg-light">
                                        <tr>
                                            <th>No</th>
                                            <th>No Order</th>
                                            <th>Nama Pembeli </th>
                                            <th>Total Bayar</th>
                                            <th>Diantar</th>
                                            <th>Bukti Bayar</th>
                                            <th>Status Bayar</th>
                                            <th class="text-right">Aksi</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="item in orders track by $index">
                                        <tr>
                                            <td class="font-16"><span>{{$index+1}}</span>
                                            </td>

                                            <td class="font-16"><span
                                                    class="badge badge-success">{{item.kodeorder}}</span>
                                            </td>
                                            <td class="font-16"><span>{{item.nama_pembeli}}</span>
                                            </td>

                                            <td class="font-16"><span>Rp. {{item.total|number}}</span>
                                            </td>

                                            <td class="font-16">
                                                {{item.diantar}}</td>
                                            <td class="font-16">
                                                {{item.idpembayaran ? 'Ada':'Tidak Ada'}}</td>
                                            <td class="font-16"><span class="badge"
                                                    ng-class="item.status_pembayaran=='Lunas'?'badge-success':'badge-warning'">{{item.status_pembayaran}}</span>
                                            </td>
                                            <td>
                                                <div class="btn-group ml-auto float-lg-right">
                                                    <button ng-click="selectModel(item)" data-toggle="modal"
                                                        data-target="#datasModalCenter"
                                                        class="btn btn-sm btn-outline-light"><i class="fa fa-list"
                                                            aria-hidden="true"></i>
                                                    </button>

                                                    <button
                                                        ng-show="item.diantar!='Tidak Diantar' && item.status_pembayaran=='Lunas'"
                                                        ng-click="selectModel(item)" data-toggle="modal"
                                                        data-target="#pengirimanModalCenter"
                                                        class="btn btn-sm btn-outline-light"><i class="fa fa-truck"
                                                            aria-hidden="true"></i>
                                                    </button>


                                                    <button ng-click="selectModel(item)" data-toggle="modal"
                                                        data-target="#exampleModalCenter"
                                                        class="btn btn-sm btn-outline-light"><i
                                                            class="fa fa-sticky-note" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="exampleModalLongTitle">
                    <h3>Bukti Pembayaran</h3>
                    <h5 class="modal-title" id="exampleModalLongTitle">Kode Bayar : <span
                            class="badge badge-success">{{model.idpembayaran}}</span>
                    </h5>
                </div>
                <button type="button" class="close" ng-click="emptyModel()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img style="width: 100%; height: 250px;" ng-src="../../../images/bukti/{{model.bukti_pembayaran}}"
                    alt="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" ng-click="emptyModel()"
                    data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="pengirimanModalCenter" tabindex="-1" role="dialog"
    aria-labelledby="pengirimanModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="pengirimanModalLongTitle">
                    <h5>Info Pengiriman</h5>
                </div>
                <button type="button" ng-click="emptyModel()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form ng-submit="save(model)">
                <div class="modal-body">
                    <div class="form-group" ng-show="model.kodepengiriman">
                        <label>Kode Pengiriman</label>
                        <input ng-model="model.kodepengiriman" readonly type="text" class="form-control form-control-lg"
                            autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label>Kode Order</label>
                        <input ng-model="model.kodeorder" readonly type="text" class="form-control form-control-lg"
                            autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label>Tanggal Pengiriman</label>
                        <input ng-model="model.tgl_pengiriman" type="date" class="form-control form-control-lg"
                            placeholder="Tanggal Pengiriman" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label>Jumlah Barang</label>
                        <input ng-model="model.jumlah_barang" type="number" class="form-control form-control-lg"
                            placeholder="Jumlah" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label>Keterangan</label>
                        <textarea ng-model="model.keterangan" class="form-control form-control-lg"
                            placeholder="Keterangan" autocomplete="off"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Bukti Pengiriman</label>
                        <div style="height: 200px;">
                            <fileinput model="model.data_bukti_pengiriman" idname="'gambar'" height="200"
                                src="'images/bukti/'+model.bukti_pengiriman" showview="true"></fileinput>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="emptyModel()" class="btn btn-secondary"
                        data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Simpan</button>
                </div>
            </form>
        </div>
    </div>
</div>




<div class="modal fade" id="datasModalCenter" tabindex="-1" role="dialog" aria-labelledby="datasModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="datasModalLongTitle">
                    <h5>Detail Order</h5>
                    <h5 class="modal-title" id="datasModalLongTitle">Kode Order : <span
                            class="badge badge-success">{{model.idorder}}</span>
                    </h5>
                </div>
                <button type="button" ng-click="emptyModel()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card card-body">
                    <table class="table">
                        <tr>
                            <th>ID Barang</th>
                            <th>Nama Barang</th>
                            <th>Jumlah</th>
                            <th>Harga</th>
                            <th>Total</th>
                        </tr>
                        <tr ng-repeat="data in model.data">
                            <td class="font-16"><span class="badge badge-warning">{{data.idbarang}}</span>
                            </td>
                            <td class="font-16">
                                <span>{{data.nama_barang}}</span>
                            </td>
                            <td class="font-16">
                                <span>{{data.jumlah}}</span>
                            </td>

                            <td class="font-16">
                                <span>Rp. {{data.harga|number}}</span>
                            </td>

                            <td class="font-16">
                                <span>Rp.{{data.harga * data.jumlah|number}}</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="emptyModel()" class="btn btn-secondary"
                    data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>