<div class="row">
    <div class="col-xl-7 m-auto">
        <div class="card">
            <div class="card-header font-20 text-dark">Daftar Order</div>
            <div class="card-body">
                <form id="validationform" data-parsley-validate="" novalidate="">
                    <div class="form-group row">
                        <label class="col-5 col-form-label font-18">Bukti Pengiriman</label>
                        <div class="col-7">
                            <input type="file" required="" accept="image/*" name="files" class="form-control">
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-inline-block float-right">
                    <button class="btn btn-primary">Simpan</button>
                </div>
                <div class="col-sm-1 d-inline-block float-right"></div>
                <button class="btn btn-outline-danger float-right">Tutup</button>
            </div>
        </div>
    </div>
</div>
</div>