<div class="dashboard-main-wrapper">
    <div class="dashboard-header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
            <a class="navbar-brand font-18" href="#">Website Kayu Somel</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto text-white">
                    <li class="nav-item" ui-sref-active="active">
                        <a class="nav-link" ui-sref="penjual-home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item" ui-sref-active="active">
                        <a class="nav-link" ui-sref="penjual-profile">Profile</a>
                    </li>
                    <li class="nav-item" ui-sref-active="active">
                        <a class="nav-link" ui-sref="penjual-daftarbarang">Barang</a>
                    </li>
                    <li class="nav-item" ui-sref-active="active">
                        <a class="nav-link" href="#">Order</a>
                    </li>
                    <li class="nav-item" ui-sref-active="active">
                        <a class="nav-link" href="#">Pengiriman</a>
                    </li>
                    <li class="nav-item" ui-sref-active="active">
                        <a class="nav-link" href="#">Transaksi</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Akun
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <a class="nav-link nav-user-img" href="" id="navbarDropdownMenuLink2" data-toggle="dropdown"
                        data-target="#profile" aria-haspopup="true" aria-expanded="false"><i
                            class="fas fa-envelope-square font-24 text-white"></i><span class="indicator"></span>
                    </a>
                    <div id="profile" class="dropdown-menu dropdown-menu-right nav-user-dropdown"
                        aria-labelledby="navbarDropdownMenuLink2">
                        <a class="dropdown-item" href="#">Pesan</a>
                        <a class="dropdown-item" href="#">Diskusi Barang</a>
                    </div>
                </form>
            </div>
        </nav>

    </div>

    <div class="dashboard-wrapper-pembeli">
        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content ">
                <ui-view></ui-view>
            </div>
            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            Copyright © <a></a>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="$javascript();">About</a>
                                <a href="$javascript();">Support</a>
                                <a href="$javascript();">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>