<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header text-center text-dark">
                <h1>TOKO</h1>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col text-center m-b-30">
                        <a>
                            <h2>{{profile.nama_toko}}</h2>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6"> <img src="images/penjual/{{profile.foto_toko}}" class="rounded"
                            style="width: 100%; max-height: 60vh; " /></div>
                    <div class="col-md-6">
                        <h2 class="font-16">Deskripsi Toko</h2>
                        <p class="font-16 text-justify">{{profile.keterangan}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="section-title font-24 strong text-light">INFO ORDER</div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3>Barang Terakhir Diorder</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered" style="width:100%;">
                        <thead>
                            <tr>
                                <th>Tanggal</th>
                                <th>Kode Order</th>
                                <th>Kode Barang</th>
                                <th>Nama Barang</th>
                                <th>Jumlah</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in lastOrder | limitTo:6">
                                <td>{{item.tgl_order}}</td>
                                <td>{{kodefikasi.order(item.idorder, item.tgl_order)}}</td>
                                <td>{{kodefikasi.barang(item.idbarang, item.tgl_publish)}}</td>
                                <td>{{item.nama_barang}}</td>
                                <td>{{item.jumlah}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3>Barang Terakhir Dijual</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered" style="width:100%;">
                        <thead>
                            <tr>
                                <th>Tanggal</th>
                                <th>Kode Order</th>
                                <th>Kode Barang</th>
                                <th>Nama Barang</th>
                                <th>Jumlah</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in lastOrder | limitTo:6">
                                <td>{{item.tgl_order}}</td>
                                <td>{{kodefikasi.order(item.idorder, item.tgl_order)}}</td>
                                <td>{{kodefikasi.barang(item.idbarang, item.tgl_publish)}}</td>
                                <td>{{item.nama_barang}}</td>
                                <td>{{item.jumlah}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>




<div class="section-title font-24 strong text-light">DAFTAR BARANG

</div>
<div class="row">
    <div id="custom-search" class="top-search-bar">
        <input class="form-search" ng-model="cari" type="text" placeholder="Cari Kayu">
    </div>
</div>
<div class="row m-t-40">
    <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 col-12" ng-repeat="item in source |filter : cari">
        <div class="card">
            <img class="card-img" src="/images/barang/{{item.gambar}}" alt="Card image">
            <div class="card-img-overlay">
                <h3 class="card-title">{{item.nama_barang}}</h3>
                <p class="card-text">{{item.keterangan}}</p>
                <p id="item-publish" class="card-text">
                    <publish value="item.tgl_publish"></publish>
                </p>

                <a id="item-Detail" ui-sref="penjual-detailbarang({id:item.idbarang})"
                    class="btn btn-primary float-right">Detail</a>
            </div>
        </div>
    </div>

</div>




<style>
    #btnPenjual {
        position: absolute;
        right: 20px;
        margin: 20px;
    }

    #item-publish {
        position: absolute;
        left: 20px;
        bottom: 20px;
    }


    #item-Detail {
        position: absolute;
        right: 20px;
        bottom: 20px;
    }

    .card-img {
        height: 250px;
    }

    .card {
        color: #99bdc3;
    }

    .top-search-bar {
        width: 500px;
        float: none;
        margin: auto;
        position: sticky;
    }
</style>