<div class="row">
    <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="card-header text-center font-22 text-dark">PROFIL PENJUAL</div>
            <div class="card-body pt-0">
                <div class="form-group row pb-0 mb-0 mt-3 pt-0">
                    <div class="offset-xl-1 col-form-label col-sm-3 font-14">Nama Penjual</div>
                    <div class="offset-xl-1 col-6 text-dark font-16">
                        <input class="form-control" ng-model="profile.nama_penjual" type="text">
                    </div>
                </div>
                <div class="form-group row pb-0 mb-0 mt-3 pt-0">
                    <div class="offset-xl-1 col-form-label col-sm-3 font-14">Tanggal Lahir</div>
                    <div class="offset-xl-1 col-6 text-dark font-16">
                        <input class="form-control" date-input ng-model="profile.tgl_lahir" type="date">
                    </div>
                </div>

                <div class="form-group row pb-0 mb-0 mt-3 pt-0">
                    <div class="offset-xl-1 col-form-label col-sm-3 font-14">Nomor Telepon</div>
                    <div class="offset-xl-1 col-6 text-dark font-16">
                        <input class="form-control" ng-model="profile.no_tlp" type="text">
                    </div>
                </div>
                <div class="form-group row pb-0 mb-0 mt-3 pt-0">
                    <div class="offset-xl-1 col-form-label col-sm-3 font-14">Jenis Kelamin</div>
                    <div class="offset-xl-1 col-6 text-dark font-16">
                        <select class="form-control" ng-model="profile.jenis_kelamin"
                            ng-options="item as item for item in genders"></select>
                    </div>
                </div>
                <div class="form-group row pb-0 mb-0 mt-3 pt-0">
                    <div class="offset-xl-1 col-form-label col-sm-3 font-14">Nama Toko</div>
                    <div class="offset-xl-1 col-6 text-dark font-16">
                        <input class="form-control" ng-model="profile.nama_toko" type="text">
                    </div>
                </div>
                <div class="form-group row pb-0 mb-0 mt-3 pt-0">
                    <div class="offset-xl-1 col-form-label col-sm-3 font-14">Alamat</div>
                    <div class="offset-xl-1 col-6 text-dark font-16">
                        <textarea class="form-control" ng-model="profile.alamat"></textarea>
                    </div>
                </div>
                <div class="form-group row pb-0 mb-0 mt-3 pt-0">
                    <div class="offset-xl-1 col-form-label col-sm-3 font-14">Foto Penjual</div>
                    <div class="offset-xl-1 col-3 text-dark font-16">
                        <fileinput model="profile.data_penjual" src="'images/avatar/'+profile.foto_penjual"
                            showview="true" width="200" height="100" idname="'penjual'">
                        </fileinput>
                    </div>
                </div>
                <div class="form-group row pb-0 mb-0 mt-3 pt-0">
                    <div class="offset-xl-1 col-form-label col-sm-3 font-14">Foto KTP</div>
                    <div class="offset-xl-1 col-3 text-dark font-16">
                        <fileinput model="profile.data_ktp" src="'images/penjual/'+profile.foto_ktp" showview="true"
                            height="100" idname="'ktp'">
                        </fileinput>
                    </div>
                </div>
                <div class="form-group row pb-0 mb-0 mt-3 pt-0">
                    <div class="offset-xl-1 col-form-label col-sm-3 font-14">Foto Toko</div>
                    <div class="offset-xl-1 col-3 text-dark font-16">
                        <fileinput model="profile.data_toko" src="'images/penjual/'+profile.foto_toko" showview="true"
                            width="200" height="100" idname="'toko'">
                        </fileinput>
                    </div>
                </div>
                <div class="form-group row pb-0 mb-0 mt-3 pt-0">
                    <div class="offset-xl-1 col-form-label col-sm-3 font-14">Keterangan</div>
                    <div class="offset-xl-1 col-6 text-dark font-16">
                        <textarea class="form-control" ng-model="profile.keterangan"></textarea>
                    </div>
                </div>

            </div>
            <div class="card-footer text-center">
                <button class="btn btn-outline-primary font-16" ng-click="update(profile)">Ubah Profil Penjual</button>
            </div>
        </div>
    </div>