<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title"><i class="fa fa-fw fa-rocket"></i> Algoritma </h2>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">WPKS</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Algoritma</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <div class="row col-12">
        <div class="col-md-12 card">
            <div class="card-header">
                <h3>Min Support And Confidance</h3>
            </div>
            <div class="card-body">
                <form ng-submit="analisa(param)" class="col-xl-4 col-lg-6 col-md-8 col-sm-12 col-12">
                    <div class="form-group">
                        <label for="">Min Suport</label>
                        <input type="number" ng-model="param.minsupport" class="form-control" placeholder=""
                            aria-describedby="helpId">
                    </div>
                    <div class="form-group">
                        <label for="">Confidance</label>
                        <input type="number" min="" max="1" step=".01" ng-model="param.confidance" class="form-control"
                            placeholder="Nilai Maximum 1" aria-describedby="helpId">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-outline-primary" type="submit" class="form-control">Analisa</button>
                    </div>
                </form>
            </div>
            <div class="card-footer"></div>
        </div>

    </div>

    <div class="row col-12" ng-show="IsBusy" style="color: white;">
        <i class="fa fa-spinner fa-spin fa-2x"></i><span>Loading</span>
    </div>


    <div class="row col-12" ng-show="!IsBusy && model">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 card">
            <div class="card-header">
                <h3>Source And Priority</h3>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>TID</th>
                            <th>ITEM</th>
                            <th>Sort Priority</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in model.source">
                            <td>{{$index}}</td>
                            <td>{{item.tid}}</td>
                            <td><span ng-repeat="data in item.items">{{data}}, </span></td>
                            <td><span ng-repeat="data in item.sortData">{{data}}, </span></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer"></div>
        </div>

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 card">
            <div class="card-header">
                <h3>Frekuensi</h3>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nama/Kode</th>
                            <th>Jumlah</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in model.frekuensi">
                            <td>{{$index+1}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.count}}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer"></div>
        </div>

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 card">
            <div class="card-header">
                <h3>Frekuensi Sort And Eliminasi</h3>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nama/Kode</th>
                            <th>Jumlah</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in model.resultX">
                            <td>{{$index+1}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.count}}</td>

                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer"></div>
        </div>


        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 card">
            <div class="card-header">
                <h3>FREKUENS 2 ITEMSET</h3>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>X</th>
                            <th ng-repeat="item in model.resultX">{{item.name}}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="items in model.frekuensiItemSet">
                            <td>{{model.resultX[$index].name}}</td>
                            <td ng-repeat="xx in items  track by $index">{{xx}}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer"></div>
        </div>

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 card">
            <div class="card-header">
                <h3>Suport Value</h3>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>X</th>
                            <th ng-repeat="item in model.resultX">{{item.name}}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="items in model.frekuensiItemSet">
                            <td>{{model.resultX[$index].name}}</td>
                            <td ng-repeat="xx in items  track by $index">{{xx/model.source.length |number:2}}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer"></div>
        </div>



        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 card">
            <div class="card-header">
                <h3>Graph</h3>
            </div>
            <div class="card-body">
                <div style="height: 60vh; width: 100%;" id="mynetwork"></div>
            </div>
            <div class="card-footer"></div>
        </div>

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 card">
            <div class="card-header">
                <h3>Confidance</h3>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>X</th>
                            <th ng-repeat="item in model.resultX">{{item.name}}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="items in model.frekuensiItemSet">
                            <td>{{model.resultX[$index].name}}</td>
                            <td ng-repeat="xx in items  track by $index">{{xx/model.resultX[$index].count |number:2}}
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer"></div>
        </div>


        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 card">
            <div class="card-header">
                <h3>Assosiasi</h3>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Assosiasi</th>
                            <th>Nilai</th>
                            <th>Mi Suport</th>
                            <th>Confidance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in model.listItemSetResult">
                            <td>{{$index+1}}</td>
                            <td>{{item.row}} - {{item.column}}</td>
                            <td>{{item.value}}</td>
                            <td>{{item.minSuport|number:2}}</td>
                            <td>{{item.confidanceSupport|number:2}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer"></div>
        </div>
    </div>

</div>