<div class="col-xl col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="section-title font-24 strong text-dark">Transaksi</div>

    <div class="pills-regular">
        <ul class="nav nav-pills mb-1 border-bottom" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active mr-2" id="pills-home-tab" data-toggle="pill" href="$javascript();"
                    data-target="#pills-home" role="tab" aria-controls="home" aria-selected="true">Tagihan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="$javascript();"
                    data-target="#pills-profile" role="tab" aria-controls="profile" aria-selected="false">Pembelian</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="col-4 mb-3">
                    <input class="form-search mt-0" type="text" placeholder="Cari Tagihan">
                </div>


                <div class="row" ng-repeat="item in Source | filter : FilterNotPembayaran">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">

                                <table class="table">
                                    <tr>
                                        <th>No Order</th>
                                        <th>Tgl Order</th>
                                        <th>Waktu Expire</th>
                                        <th>Status</th>
                                        <th>Total</th>
                                        <th>Detail</th>
                                    </tr>
                                    <tr>
                                        <td class="font-16"><span
                                                class="badge badge-success">{{padLeft(item.idorder,5)}}</span>
                                        </td>
                                        <td class="font-16"><span>{{item.tgl_order|date:'dd-MM-yyyy hh:mm'}}</span>
                                        </td>
                                        <td class="font-16"><span>{{item.wkt_exp_order|date:'dd-MM-yyyy hh:mm'}}</span>
                                        </td>
                                        <td class="font-16"><span class="badge"
                                                ng-class="item.expire?'badge-danger':'badge-warning'">{{item.status}}</span>
                                        </td>
                                        <td class="font-16"><span>Rp.{{total(item)|number}}</span>
                                        </td>
                                        <td class="font-16"><span><button type="button" data-toggle="collapse"
                                                    data-target="#collapseExample{{item.idorder}}" aria-expanded="false"
                                                    aria-controls="collapseExample" ng-click="setBarang(item)"
                                                    class="btn btn-outline-dark">Detail</button></span>
                                        </td>
                                    </tr>
                                </table>
                                <div class="collapse" id="collapseExample{{item.idorder}}">
                                    <div class="card card-body">
                                        <table class="table">
                                            <tr>
                                                <th>ID Barang</th>
                                                <th>Nama Barang</th>
                                                <th>Jumlah</th>
                                                <th>Harga</th>
                                                <th>Total</th>
                                            </tr>
                                            <tr ng-repeat="data in item.data">
                                                <td class="font-16"><span
                                                        class="badge badge-warning">{{padLeft(data.idbarang,3)}}</span>
                                                </td>
                                                <td class="font-16">
                                                    <span>{{data.barang.nama_barang}}</span>
                                                </td>
                                                <td class="font-16">
                                                    <span>{{data.jumlah}}</span>
                                                </td>

                                                <td class="font-16">
                                                    <span>Rp. {{data.harga|number}}</span>
                                                </td>

                                                <td class="font-16"><span>Rp.{{data.harga * data.jumlah|number}}</span>
                                                </td>
                                            </tr>
                                        </table>
                                        <div class="card-footer text-center">
                                            <a class="btn btn-outline-success font-16" ng-show="!item.expire"
                                                ui-sref="pembeli-konfirbayar({data:item})">Konfirmasi
                                                Pembayaran</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="col-4 mb-3">
                    <input class="form-search mt-0" type="text" placeholder="Cari Tagihan">
                </div>
                <div class="row" ng-repeat="item in Source | filter : FilterPembayaran">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">

                                <table class="table">
                                    <tr>
                                        <th>No Order</th>
                                        <th>Tgl Order</th>
                                        <th>Waktu Expire</th>
                                        <th>Status</th>
                                        <th>Total</th>
                                        <th>Detail</th>
                                    </tr>
                                    <tr>
                                        <td class="font-16"><span
                                                class="badge badge-success">{{padLeft(item.idorder,5)}}</span>
                                        </td>
                                        <td class="font-16"><span>{{item.tgl_order|date:'dd-MM-yyyy hh:mm'}}</span>
                                        </td>
                                        <td class="font-16"><span>{{item.wkt_exp_order|date:'dd-MM-yyyy hh:mm'}}</span>
                                        </td>
                                        <td class="font-16"><span class="badge"
                                                ng-class="item.expire?'badge-danger':'badge-warning'">{{item.status}}</span>
                                        </td>
                                        <td class="font-16"><span>Rp.{{total(item)|number}}</span>
                                        </td>
                                        <td class="font-16"><span><button type="button" data-toggle="collapse"
                                                    data-target="#collapseExample{{item.idorder}}" aria-expanded="false"
                                                    aria-controls="collapseExample" ng-click="setBarang(item)"
                                                    class="btn btn-outline-dark">Detail</button></span>
                                        </td>
                                    </tr>
                                </table>
                                <div class="collapse" id="collapseExample{{item.idorder}}">
                                    <div class="card card-body">
                                        <table class="table">
                                            <tr>
                                                <th>ID Barang</th>
                                                <th>Nama Barang</th>
                                                <th>Jumlah</th>
                                                <th>Harga</th>
                                                <th>Total</th>
                                            </tr>
                                            <tr ng-repeat="data in item.data">
                                                <td class="font-16"><span
                                                        class="badge badge-warning">{{padLeft(data.idbarang,3)}}</span>
                                                </td>
                                                <td class="font-16">
                                                    <span>{{data.barang.nama_barang}}</span>
                                                </td>
                                                <td class="font-16">
                                                    <span>{{data.jumlah}}</span>
                                                </td>

                                                <td class="font-16">
                                                    <span>Rp. {{data.harga|number}}</span>
                                                </td>

                                                <td class="font-16"><span>Rp.{{data.harga * data.jumlah|number}}</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>