<div class="row">
    <div class="offset-xl-1 col-xl-10 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="card-header font-18 text-dark">
                Form Diskusi Barang
            </div>
            <div class="card-body pl-1 pt-3 pr-1">
                <div class="col">
                    <div class="email-list">
                        <div class="card pt-3 pl-3">
                            <div class="email-list-item email-list-item--unread" style="padding: 0; margin-bottom: 10px;">
                                <div class="row align-items-center">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="user-avatar float-xl-left pr-2 float-none">
                                            <img src="assets/images/avatar-1.jpg" alt="User Avatar"
                                                class="rounded user-avatar-xl">
                                        </div>
                                        <div class="pl-xl-3">
                                            <div class="m-b-0">
                                                <div class="user-avatar-name d-inline-block">
                                                    <p class="text-dark font-18 mr-3">Kayu Sengon Lapis Baja</p>
                                                </div>
                                            </div>
                                            <div class="user-avatar-name d-inline-block">
                                                <div class="mt-2">
                                                    <a class="text-dark font-16">Nama Kategori :<a class="font-16 mr-4">Kayu Paling Bagus</a></a>
                                                    <span class="font-16 mr-1 text-dark">Panjang : <a class="text-secondary">500cm</a></span>
                                                    <span class="font-16 mr-1 text-dark">Tinggi : <a class="text-secondary">500cm</a></span>
                                                    <span class="font-16 mr-5 text-dark">Lebar : <a class="text-secondary">500cm</a></span>
                                                    <span class="font-16 text-dark">Harga : <a class="text-primary">Rp 100.000.000</a></span>
                                                </div>
                                            </div>
                                            <div class="m-b-0 mt-2">
                                                <div class="user-avatar-name d-inline-block">
                                                    <a class="text-dark font-16">Sub Kategori &nbsp;&nbsp;&nbsp;&nbsp;:</a>
                                                    <span class="font-16">Apa Saja</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="email-list-item email-list-item--unread" style="padding: 0;">
                                <div class="row align-items-center">
                                    <div class="col-xl-11 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="user-avatar float-xl-left pr-4 float-none">
                                            <img src="assets/images/avatar-1.jpg" alt="User Avatar"
                                                class="rounded-circle user-avatar-xl">
                                        </div>
                                        <div class="pl-xl-3">
                                            <div class="m-b-0">
                                                <div class="user-avatar-name d-inline-block">
                                                    <a class="text-dark font-16 m-b-10 mr-3" title="Nama Toko">Henry
                                                        Barbara</a>
                                                    <span class="font-16">31 Desember 2020</span>
                                                </div>
                                            </div>
                                            <div class="user-avatar-name d-inline-block">
                                                <div class="mt-4">
                                                    <p class="text-muted font-16" title="Nama Barang">Isi Pesan</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="float-right float-none mt-xl-0 mt-4 pr-3 text-right">
                                        <button class="btn btn-outline-dark btn-rounded"><i
                                                class="fas fa-trash-alt"></i> </button>
                                    </div>
                                </div>
                            </div>
                            <div class="email-list-item email-list-item--unread pr-0">
                                <div class="row align-items-center">
                                    <div class="col-xl-11 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="user-avatar float-xl-left pr-4 float-none">
                                            <img src="assets/images/avatar-1.jpg" alt="User Avatar"
                                                class="rounded-circle user-avatar-xl">
                                        </div>
                                        <div class="pl-xl-3">
                                            <div class="m-b-0">
                                                <div class="user-avatar-name d-inline-block">
                                                    <a class="text-dark font-16 m-b-10 mr-3" title="Nama Toko">Henry
                                                        Barbara</a>
                                                    <span class="font-16">31 Desember 2020</span>
                                                </div>
                                            </div>
                                            <div class="user-avatar-name d-inline-block">
                                                <div class="mt-4">
                                                    <p class="text-muted font-16" title="Nama Barang">Isi Pesan</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="float-right float-none mt-xl-0 mt-4 text-right pr-3">
                                        <button class="btn btn-outline-dark btn-rounded"><i
                                                class="fas fa-trash-alt"></i> </button>
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-xl-11 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="user-avatar float-xl-left pr-4 float-none">
                                            <img src="assets/images/avatar-1.jpg" alt="User Avatar"
                                                class="rounded-circle user-avatar-xl">
                                        </div>
                                        <div class="pl-xl-3">
                                            <div class="m-b-0">
                                                <div class="user-avatar-name d-inline-block">
                                                    <a class="text-dark font-16 m-b-10 mr-3" title="Nama Toko">Henry
                                                        Barbara</a>
                                                    <span class="font-16">31 Desember 2020</span>
                                                </div>
                                            </div>
                                            <div class="user-avatar-name d-inline-block">
                                                <div class="mt-4">
                                                    <p class="text-muted font-16" title="Nama Barang">Isi Pesan</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="float-right float-none mt-xl-0 mt-4 text-right pr-3">
                                        <button class="btn btn-outline-dark btn-rounded"><i
                                                class="fas fa-trash-alt"></i> </button>
                                    </div>
                                </div>
                                <input class="form-control" style="border-radius: 15px; width: 44rem;"
                                    placeholder="Isi Pesan Disini" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>