<div class="row">
    <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="card-header text-center font-22 text-dark">Form Konfirmasi Pembayaran</div>
            <div class="card-body pt-0">
                <div class="form-group row pb-0 mb-0">
                    <div class="col font-18 text-dark">Informasi Pembeli</div>
                </div>
                <div class="form-group row pb-0 mb-0">
                    <div class="offset-xl-1 col-form-label col-sm-3 font-14">No. Order</div>
                    <div class="offset-xl-1 col-sm-3 "><a
                            class="badge badge-success text-light font-16">1111-2222-3333-4444</a></div>
                </div>
                <div class="form-group row pb-0 mb-0 mt-0 pt-0">
                    <div class="offset-xl-1 col-form-label col-sm-3 font-14">Atas Nama</div>
                    <div class="offset-xl-1 col-6 text-dark font-16">Chandra Poetra Wijaksana</div>
                </div>
                <div class="form-group row pb-0 mb-0 mt-0 pt-0">
                    <div class="offset-xl-1 col-form-label col-sm-3 font-14">E-Mail</div>
                    <div class="offset-xl-1 col-sm-3"><a class="text-primary font-16"
                            href="#">example@mail.com</a></div>
                </div>
                <div class="form-group row pb-0 mb-0 mt-0 pt-0">
                    <div class="offset-xl-1 col-form-label col-sm-3 font-14">No. Telepon</div>
                    <div class="offset-xl-1 col-sm-3 font-16 text-dark">0812-1212-1212</div>
                </div>
                <div class="form-group row pb-3 mb-0 mt-0 pt-0 border-bottom">
                    <div class="offset-xl-1 col-form-label col-sm-3 font-14">Alamat Pengiriman</div>
                    <div class="offset-xl-1 col-6 text-dark font-16">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry.</div>
                </div>
                <div class="form-group row pb-0 mb-0">
                    <div class="col font-18 text-dark">Transfer Ke</div>
                </div>
                <div class="form-group row pb-0 mb-0">
                    <div class="offset-xl-1 col-sm-3 mb-3 font-14">Nama Bank</div>
                    <div class="offset-xl-1 col-sm-3 font-16 text-dark">Muamalat Syariah</div>
                </div>
                <div class="form-group row pb-0 mb-0 mt-0 pt-0">
                    <div class="offset-xl-1 col-sm-3 mb-3 font-14">No. Rekening</div>
                    <div class="offset-xl-1 col-6 text-dark font-16">1234567890123456</div>
                </div>
                <div class="form-group row pb-0 mb-0 mt-0 pt-0">
                    <div class="offset-xl-1 col-sm-3 mb-3 font-14">Jumlah Bayar</div>
                    <div class="offset-xl-1 col-sm-3 font-16 text-primary">Rp 100.000.000</div>
                </div>
                <div class="form-group row pb-3 mb-0 mt-0 pt-0 border-bottom">
                    <div class="offset-xl-1 col-sm-3 font-14">Status Pegantaran</div>
                    <div class="offset-xl-1 col-sm-3"><a class="font-16 text-dark badge badge-warning">Menunggu Pembayaran</a></div>
                </div>
                <div class="form-group row pb-0 mb-0">
                    <div class="col font-18 text-dark">Nama Bank Pembeli</div>
                </div>
                <div class="form-group row pb-0 mb-0">
                    <div class="offset-xl-1 col-sm-3 mb-4 pb-1 font-14">Pilih Bank</div>
                    <div class="offset-xl-1 col-sm-3">
                        <select class="selectpicker show-tick">
                            <option>Muamalat Syariah</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row pb-0 mb-0 mt-0 pt-0">
                    <div class="offset-xl-1 col-sm-3 mb-4 font-14">No. Rekening</div>
                    <div class="offset-xl-1 col-5">
                        <input class="form-control" placeholder="No. Rekening"/>
                    </div>
                </div>
                <div class="form-group row pb-0 mb-0 mt-0 pt-0">
                    <div class="offset-xl-1 col-sm-3 mb-4 font-14">No. Rekening</div>
                    <div class="offset-xl-1 col-5">
                        <input class="form-control" placeholder="No. Rekening"/>
                    </div>
                </div>
                <div class="form-group row pb-0 mb-0 mt-0 pt-0">
                    <div class="offset-xl-1 col-sm-3 mb-3 font-14">Bukti Pengiriman</div>
                    <div class="offset-xl-1 col-5">
                        <input class="btn btn-outline-primary pb-0 pt-0 pl-0 form-control" type="file" multiple="multiple"/>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <button class="btn btn-outline-success font-16">Konfirmasi Pembayaran</button>
            </div>
        </div>
    </div>