<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <h3 class="card-header text-center mt-1 ">Order Barang Pembeli</h3>
            <div class="card-body">
                <form id="validationform" data-parsley-validate="" novalidate="">
                    <h3 class="text-left m-b-0 mt-0">Detail Pembeli</h3>
                    <div class="form-group row">
                        <label class="col-12 col-sm-3 col-form-label text-right">Nama Penerima</label>
                        <div class="col-12 col-sm-8 col-lg-6">
                            <input ng-model="profile.nama_pembeli" type="text" required="" placeholder="Nama Penerima"
                                class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-12 col-sm-3 col-form-label text-right">No. Kontak</label>
                        <div class="col-12 col-sm-8 col-lg-6">
                            <input ng-model="model.no_tlp" data-parsley-type="number" type="text" required=""
                                placeholder="Enter only numbers" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row border-bottom">
                        <label class="col-12 col-sm-3 col-form-label text-right">Alamat</label>
                        <div class="col-12 col-sm-8 col-lg-6">
                            <textarea ng-model="model.alamatpengiriman" required="" class="form-control"></textarea>
                        </div>
                    </div>
                    <h3 class="text-left pt-3">Pembayaran Lewat Bank</h3>
                    <div class="form-group row ">
                        <label class="col-12 col-sm-3 col-form-label text-right mt-0 m-t-0">Nama Bank</label>
                        <div class="col-12 col-sm-8 col-lg-6">
                            <input ng-model="model.management.nama_bank_pembayaran" disabled data-parsley-type="number"
                                type="text" required="" placeholder="Enter only numbers" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row border-bottom">
                        <label class="col-12 col-sm-3 col-form-label text-right mt-0 m-t-0">Nomor Rekening</label>
                        <div class="col-12 col-sm-8 col-lg-6">
                            <input ng-model="model.management.no_rek_pembayaran" disabled data-parsley-type="number"
                                type="text" required="" placeholder="Enter only numbers" class="form-control">
                        </div>
                    </div>
                    <h3 class="text-left pt-3">Status Pengiriman</h3>
                    <div class="form-group row border-bottom">
                        <label class="col-12 col-sm-3 col-form-label text-left"></label>
                        <div class="col-12 col-sm-8 col-lg-2">
                            <span class="badge"
                                ng-class="model.diantar=='Diantar'?'badge-danger':'badge-warning'">{{model.diantar}}</span>
                        </div>

                    </div>
                    <h3 class="text-left m-b-0 pt-3">Detail Belanja</h3>
                    <div style="margin: 10px;" class="row" ng-repeat="item in model.data">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nama Barang</th>
                                    <th>Jumlah</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td scope="row"> <img src="images/barang/{{item.gambar}}" alt="User Avatar"
                                            class="user-avatar-lg"></td>
                                    <td> {{item.nama_barang}}</td>
                                    <td> {{item.jumlah}}</td>
                                    <td>Rp.{{item.harga * item.jumlah|number}}</td>
                                </tr>
                                <tr>
                                    <td colspan="3" scope="row">Total Bayar</td>
                                    <td>Rp. {{model.total|number}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </form>
            </div>
            <div class="card-footer">
                <span class="float-right"><button ng-disabled="!model.total" ng-click="order(model)"
                        class="d-inline-block btn btn-primary" type="submit">Pesan
                        Sekarang</button></span>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    $('#form').parsley();
</script>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>