<div class="row">
    <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="card-header font-18 text-dark">
                Form Pesan Pembeli
            </div>
            <div class="card-body">
                <div class="col">
                    <div class="email-list">
                        <div class="email-list-item email-list-item--unread" style="padding: 0;">
                            <div class="row align-items-center">
                                <div class="col-xl-11 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="user-avatar float-xl-left pr-4 float-none">
                                        <img src="assets/images/avatar-1.jpg" alt="User Avatar" class="rounded user-avatar-xl">
                                    </div>
                                    <div class="pl-xl-3">
                                        <div class="m-b-0">
                                            <div class="user-avatar-name d-inline-block">
                                                <a class="text-dark font-16 m-b-10 mr-3" title="Nama Toko">Henry Barbara</a>
                                                <span class="font-16">31 Desember 2020</span>
                                            </div>
                                        </div>
                                        <div class="user-avatar-name d-inline-block">
                                            <div class="mt-4">
                                                <p class="text-muted font-16" title="Nama Barang">Isi Pesan</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="float-right float-none mt-xl-0 mt-4 col text-right pr-0 ">
                                    <button class="btn btn-outline-dark btn-rounded"><i class="fas fa-trash-alt"></i> </button>
                                </div>
                            </div>
                        </div>
                        <div class="email-list-item email-list-item--unread pr-0">
                            <div class="row align-items-center">
                                <div class="col-xl-9 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="user-avatar float-xl-left pr-4 float-none">
                                        <img src="assets/images/avatar-1.jpg" alt="User Avatar" class="rounded user-avatar-xl">
                                    </div>
                                    <div class="pl-xl-3">
                                        <div class="m-b-0">
                                            <div class="user-avatar-name d-inline-block">
                                                <a class="text-dark font-16 m-b-10 mr-3" title="Nama Toko">Henry Barbara</a>
                                                <span class="font-16">31 Desember 2020</span>
                                            </div>
                                        </div>
                                        <div class="user-avatar-name d-inline-block">
                                            <div class="mt-4">
                                                <p class="text-muted font-16" title="Nama Barang">Isi Pesan</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="float-right float-none mt-xl-0 mt-4 col-sm text-right pr-0">
                                    <button class="btn btn-outline-dark btn-rounded"><i class="fas fa-trash-alt"></i> </button>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col-xl-9 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="user-avatar float-xl-left pr-4 float-none">
                                        <img src="assets/images/avatar-1.jpg" alt="User Avatar" class="rounded user-avatar-xl">
                                    </div>
                                    <div class="pl-xl-3">
                                        <div class="m-b-0">
                                            <div class="user-avatar-name d-inline-block">
                                                <a class="text-dark font-16 m-b-10 mr-3" title="Nama Toko">Henry Barbara</a>
                                                <span class="font-16">31 Desember 2020</span>
                                            </div>
                                        </div>
                                        <div class="user-avatar-name d-inline-block">
                                            <div class="mt-4">
                                                <p class="text-muted font-16" title="Nama Barang">Isi Pesan</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="float-right float-none mt-xl-0 mt-4 col-sm text-right pr-0">
                                    <button class="btn btn-outline-dark btn-rounded"><i class="fas fa-trash-alt"></i> </button>
                                </div>
                            </div>
                            <input class="form-control" style="border-radius: 15px;" placeholder="Isi Pesan Disini"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>