<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header text-center text-dark">
                <h1>TOKO</h1>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col text-center m-b-30">
                        <a>
                            <h2>{{model.nama_toko}}</h2>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="text-center">
                            <div class="m-b-10">
                                <img ng-src="images/avatar/{{model.foto_penjual}}" alt="User Avatar"
                                    class="rounded-circle user-avatar-xxl">
                            </div>
                        </div>
                        <div class="form-group row pb-0 mb-0 mt-0 pt-0">
                            <div class="offset-xl-1 col-form-label col-sm-3 font-14">Nama Penjual </div>
                            <div class="col-md-6 font-16"><input type="text" ng-model="model.nama_penjual"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="form-group row pb-0 mb-0 mt-0 pt-0">
                            <div class="offset-xl-1 col-form-label col-sm-3 font-14">Email </div>
                            <div class="col-md-6 font-16"><input type="text" ng-model="model.email"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="form-group row pb-0 mb-0 mt-0 pt-0">
                            <div class="offset-xl-1 col-form-label col-sm-3 font-14">No. Telepon </div>
                            <div class="col-md-6 font-16"><input type="text" ng-model="model.no_tlp"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="form-group row pb-0 mb-0 mt-0 pt-0">
                            <div class="offset-xl-1 col-form-label col-sm-3 font-14">Alamat </div>
                            <div class="col-md-6 font-16"><input type="text" ng-model="model.alamat"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="form-group row pb-0 mb-0 mt-0 pt-0">
                            <div class="offset-xl-1 col-form-label col-sm-3 font-14">Alamat </div>
                            <div class="col-md-6 font-16"><input type="text" ng-model="model.alamat"
                                    class="form-control">
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <h2 class="font-16">Deskripsi Toko</h2>
                        <p class="break-word font-16 text-justify">{{model.keterangan}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" section-title font-24 strong text-light">DAFTAR BARANG</div>
<div class="row m-t-40">
    <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 col-12" ng-repeat="item in source ">
        <div class="card">
            <img class="card-img" src="images/barang/{{item.gambar}}" alt="Card image">

            <div class="card-img-overlay">
                <h3 class="card-title">{{item.nama_barang}}</h3>
                <p class="card-text">{{item.keterangan}}</p>
                <p id="item-publish" class="card-text">
                    <publish value="item.tgl_publish"></publish>
                </p>

                <a id="item-Detail" ui-sref="pembeli-detailproduk({id:item.idbarang})"
                    class="btn btn-primary float-right">Detail</a>
            </div>
        </div>
    </div>

</div>


<style>
    #btnPenjual {
        position: absolute;
        right: 20px;
        margin: 20px;
    }

    #item-publish {
        position: absolute;
        left: 20px;
        bottom: 20px;
    }


    #item-Detail {
        position: absolute;
        right: 20px;
        bottom: 20px;
    }

    .card-img {
        height: 250px;
    }

    .card {
        color: #ffffff;
        background-color: #6c7a7c86;
        ;
    }
</style>