<div class="row">
    <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="card-body">
                <div class="strong font-22 text-dark text-center">Tagihan Pembayaran</div>
                <div class="strong font-16 text-center mb-2">Terima Kasih, Anda Telah Berhasil Melakukan Pesanan</div>
                <div class="row mb-2">
                    <div class="item-tengah">
                        <div class="strong font-18 text-center break-kata">
                            1234567890123456<span class="ml-4"><a class="font-16 text-dark strong badge badge-light">Muamalat Syariah</a></span> <br>
                            1234567890123456<span class="ml-4"><a class="font-16 text-dark strong badge badge-light">Chandra Poetra Wijaksana</a> </span>
                        </div>
                    </div>
                </div>
                <div class="strong font-16 text-center mb-2">Batas Pembayaran :<span class="ml-2"><a class="font-18 text-light strong badge badge-danger">20 September 2020</a></span></div>
                <div class="strong font-18 text-center text-dark">Jumlah Tagihan</div>
                <div class="strong font-24 text-center text-primary">Rp 100.000.000</div>
                <div class="strong font-18 text-center text-dark">Nomor Order</div>
                <div class="text-center"><a class="strong font-18 text-light badge badge-success">4444-ASDF-9999-0000</a></div>
                <div class="text-center mt-3"><button class="btn btn-outline-primary">Detail Transaksi</button></div>
            </div>
        </div>
    </div>
</div>