<div class="row">
    <!--  pageheader  -->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title"><i class="fa fa-fw fa-clipboard-list"></i> Data Konsumen </h2>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">WPKS</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Data Konsumen</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- end pageheader  -->
    <div class="col card">
        <div class="card-body">
            <table class="table">
                <thead class="bg-light">
                    <tr>
                        <th>No</th>
                        <th>Kode</th>
                        <th>Nama Pembeli</th>
                        <th>Email </th>
                        <th>No Telepon</th>
                        <th>Alamat</th>
                        <th>Status</th>
                        <th class="text-right">Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in source">
                        <td class="font-16"><span>{{$index+1}}</span>
                        </td>
                        <td class="font-16">{{kodefikasi.pembeli(item.idpembeli, item.tgl_daftar)}} </td>
                        <td class="font-16">{{item.nama_pembeli}} </td>
                        <td class="font-16">{{item.email_pembeli}} </td>
                        <td class="font-16">{{item.no_tlp}} </td>
                        <td class="font-16">{{item.alamat}} </td>
                        <td class="font-16">{{item.status}} </td>
                        <td>
                            <div class="btn-group ml-auto float-lg-right">
                                <button ng-click="showBukti(item)" class="btn btn-sm btn-outline-light"> <i
                                        class="far fa-edit"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>