<div class="row">
    <!--  pageheader  -->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title"><i class="fa fa-fw fa-clipboard-list"></i> Data Order </h2>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">WPKS</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Data Order</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- end pageheader  -->

    <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-header">Data Order </h5>
                <div class="row" ng-repeat="item in source">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">

                                <table class="table">
                                    <tr>
                                        <th>#</th>
                                        <th>No Order</th>
                                        <th>Tgl Order</th>
                                        <th>Nama Pembeli</th>
                                        <th>Waktu Expire</th>
                                        <th>Diantar</th>
                                        <th>Jumlah Bayar</th>
                                        <th class="text-right">Aksi</th>
                                    </tr>
                                    <tr>
                                        <td class="font-16"><span>{{$index+1}}</span>
                                        </td>
                                        <td class="font-16"><span
                                                class="badge badge-success">{{kodefikasi.order(item.idorder,item.tgl_order)}}</span>
                                        </td>
                                        <td class="font-16"><span>{{item.tgl_order|date:'dd-MM-yyyy hh:mm'}}</span>
                                        </td>
                                        <td class="font-16">
                                            <span>{{item.wkt_exp_order|date:'dd-MM-yyyy hh:mm'}}</span>
                                        </td>

                                        <td class="font-16"><span class="badge"
                                                ng-class="item.expire?'badge-danger':'badge-warning'">{{item.status}}</span>
                                        </td>
                                        <td class="font-16"><span>Ya</span>

                                        <td class="font-16"><span>Rp.{{orderService.total(item.data)|number}}</span>
                                        </td>


                                        <td>
                                            <div class="btn-group ml-auto float-lg-right">
                                                <button type="button" data-toggle="collapse"
                                                    data-target="#collapseExample{{item.idorder}}" aria-expanded="false"
                                                    aria-controls="collapseExample" ng-click="setBarang(item)"
                                                    class="btn btn-sm btn-outline-light"><i
                                                        class="far fa-list"></i></button>
                                                <button class="btn btn-sm btn-outline-light"> <i
                                                        class="far fa-edit"></i>
                                                    Edit</button>
                                                <button class="btn btn-sm btn-outline-light ">
                                                    <i class="far fa-trash-alt"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <div class="collapse" id="collapseExample{{item.idorder}}">
                                    <div class="card card-body">
                                        <table class="table">
                                            <tr>
                                                <th>ID Barang</th>
                                                <th>Nama Barang</th>
                                                <th>Jumlah</th>
                                                <th>Harga</th>
                                                <th>Total</th>
                                            </tr>
                                            <tr ng-repeat="data in item.data">
                                                <td class="font-16"><span
                                                        class="badge badge-warning">{{orderService.padLeft(data.idbarang,3)}}</span>
                                                </td>
                                                <td class="font-16">
                                                    <span>{{data.barang.nama_barang}}</span>
                                                </td>
                                                <td class="font-16">
                                                    <span>{{data.jumlah}}</span>
                                                </td>

                                                <td class="font-16">
                                                    <span>Rp. {{data.harga|number}}</span>
                                                </td>

                                                <td class="font-16">
                                                    <span>Rp.{{data.harga * data.jumlah|number}}</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>