<div class="row">
    <!--  pageheader  -->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title"><i class="fa fa-fw fa-clipboard-list">Header</i> Data Transaksi </h2>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">WPKS</a>Header</li>
                        <li class="breadcrumb-item active" aria-current="page">Data Transaksi</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- end pageheader  -->

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-5">
        <div class="pills-regular">
            <ul class="nav nav-pills mb-1" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" data-target="#pills-home"
                        href="javascript:void(0)" role="tab" aria-controls="home" aria-selected="true">Data
                        Transaksi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" data-target="#pills-profile"
                        href="javascript:void(0)" role="tab" aria-controls="profile" aria-selected="false"><i
                            class="fas fa-plus-circle">Header</i> Tambah Data Transaksi</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="table-responsive">
                        <table class="table " datatable="">
                            <thead class="bg-light">
                                <tr>
                                    <td>Header1</td>
                                    <td>Header2</td>
                                    <td>Header3</td>
                                    <td>Header4</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in [1, 2, 3]">
                                    <td>{{$index+1}}</td>
                                    <td>{{item}}{{$index+1}}</td>
                                    <td>{{item}}{{$index+1}}</td>
                                    <td>{{item}}{{$index+1}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="card">
                        <h3 class="card-header">Tambah Data Transaksi</h3>
                        <div class="card-body">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <form id="validationform" data-parsley-validate="" novalidate="">
                                    <div class="form-group row">
                                        <label class="col-12 col-sm-3 col-form-label text-sm-right">Kode
                                            Transaksi</label>
                                        <div class="col-12 col-sm-8 col-lg-7">
                                            <input type="text" required="" placeholder="" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-12 col-sm-3 col-form-label ">
                                            <ul>
                                                <li>Kayu Besi 10 X 10</li>
                                                <li>Kayu Matoa 5 X 5</li>
                                                <li>Kayu Lebane 2,5 X 20</li>
                                            </ul>
                                        </label>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-12 col-sm-3 col-form-label text-sm-right">Header</label>
                                        <div class="col-12 col-sm-8 col-lg-7">
                                            <button type="submit" class="btn btn-success float-right">Simpan</button>
                                            <button type="submit" class="btn btn-danger float-right">Cancel</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>