<div class="row">
    <!--  pageheader  -->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title"><i class="fa fa-fw fa-clipboard-list"></i> Data Penjual </h2>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">WPKS</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Data Penjual</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- end pageheader  -->
    <div class="col card">
        <style>
            .card-header {
                display: flex;
                justify-content: space-between;
            }
        </style>
        <div class="card-header">
            <h5>Data Penjual</h5>
            <button data-target="#modalAddPenjual" data-toggle="modal" class="btn btn-sm btn-outline-success"> <i
                    class="far fa-plus-square"></i>
            </button>
        </div>
        <div class="card-body">
            <table class="table">
                <thead class="bg-light">
                    <tr>
                        <th>No</th>
                        <th>Kode</th>
                        <th>Nama Toko</th>
                        <th>Nama Pembeli</th>
                        <th>No Telepon</th>
                        <th>Alamat</th>
                        <th>Status</th>
                        <th class="text-right">Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in source">
                        <td class="font-16"><span>{{$index+1}}</span>
                        </td>
                        <td class="font-16">{{kodefikasi.penjual(item.idpenjual, item.tgl_daftar)}} </td>
                        <td class="font-16">{{item.nama_toko}} </td>
                        <td class="font-16">{{item.nama_penjual}} </td>
                        <td class="font-16">{{item.no_tlp}} </td>
                        <td class="font-16">{{item.alamat}} </td>
                        <td class="font-16">{{item.status}} </td>
                        <td>
                            <div class="btn-group ml-auto float-lg-right">
                                <button ng-click="changeStatus(item)" class="btn btn-sm btn-outline-light"> <i
                                        class="far fa-edit"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modalAddPenjual" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tambah Penjual</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form ng-submit="register(model)">
                    <h3 class="mb-3">Registrasi</h3>
                    <div class="form-group">
                        <input ng-model="model.nama_penjual" class="form-control form-control-lg" type="text"
                            name="nama" required="" placeholder="Nama" autocomplete="off">
                    </div>

                    <div class="form-group">
                        <input ng-model="model.email" class="form-control form-control-lg" type="email" name="email"
                            required="" placeholder="E-mail" autocomplete="off">
                    </div>


                    <div class="form-group">
                        <select class="form-control" name="ngvalueselect" ng-model="model.jenis_kelamin">
                            <option ng-repeat="option in helper.genders" ng-value="option.value">{{option.name}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input ng-model="model.tgl_lahir" type="date" class="form-control form-control-lg" type="text"
                            name="tgl_lahir" required="" placeholder="Tanggal Lahir" autocomplete="off">
                    </div>

                    <div class="form-group">
                        <input ng-model="model.nama_toko" class="form-control form-control-lg" type="text"
                            name="telepon" required="" placeholder="Nama Toko" autocomplete="off">
                    </div>

                    <div class="form-group">
                        <input ng-model="model.no_tlp" class="form-control form-control-lg" type="text"
                            title="No Telepon Harus Dimulai 08 : Contoh : 08114810000"
                            pattern="[0]{1}[8]{1}?[0-9]{9,11}$" name="telepon" required placeholder="Telepon"
                            autocomplete="off">
                    </div>
                    <div class="form-group">
                        <textarea ng-model="model.alamat" class="form-control form-control-lg" type="text" name="alamat"
                            required="" placeholder="Alamat" autocomplete="off"></textarea>
                    </div>

                    <div class="form-group">
                        <input ng-model="model.Password" class="form-control form-control-lg" id="pass1" type="password"
                            required="" placeholder="Password" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input ng-model="model.ConfirmPassword" type="password" class="form-control form-control-lg"
                            required="" placeholder="Konfirmasi Password" autocomplete="off">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>