<div class="row">
    <!--  pageheader  -->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title"><i class="fa fa-fw fa-clipboard-list"></i> Konfirmasi Pembayaran </h2>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">WPKS</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Konfirmasi Pembayaran</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- end pageheader  -->

    <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-header">Konfirmasi Pembayaran </h5>
                <div class="card-body p-0"></div>
                <div class="row" ng-repeat="item in source">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <table class="table">
                                    <thead class="bg-light">
                                        <tr>
                                            <th style="width: 3%;">No</th>
                                            <th style="width: auto;">Kode Bayar</th>
                                            <th style="width: auto">No Order</th>
                                            <th style="width: 20%;">Nama Pembeli </th>
                                            <th style="width: 20%;">Total Bayar</th>
                                            <th style="width: 10%;">Diantar</th>
                                            <th style="width: 10%;">Bukti Bayar</th>
                                            <th style="width: 10%;">Status Bayar</th>
                                            <th style="width: auto;" class="text-right">Aksi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="font-16"><span>{{$index+1}}</span>
                                            </td>
                                            <td class="font-16"><span
                                                    class="badge badge-success">{{kodefikasi.pembayaran(item.pembayaran.idpembayaran,item.pembayaran.tgl_pembayaran)}}</span>
                                            </td>
                                            <td class="font-16"><span
                                                    class="badge badge-success">{{kodefikasi.order(item.idorder,item.tgl_order)}}</span>
                                            </td>
                                            <td class="font-16"><span>{{item.pembeli.nama_pembeli}}</span>
                                            </td>

                                            <td class="font-16"><span>Rp.{{orderService.total(item.data)|number}}</span>
                                            </td>

                                            <td class="font-16"><span class="badge"
                                                    ng-class="item.diantar=='Sudah' ? 'badge-success' : item.diantar=='Belum' ? 'badge-warning':'badge-default'">{{item.diantar}}</span>
                                            </td>
                                            <td class="font-16">
                                                {{item.pembayaran ? 'Ada':'Tidak Ada'}}</td>
                                            <td class="font-16"><span class="badge"
                                                    ng-class="item.pembayaran.status_pembayaran=='Lunas'?'badge-success':'badge-warning'">{{item.pembayaran.status_pembayaran}}</span>
                                            </td>
                                            <td>
                                                <div class="btn-group ml-auto float-lg-right">
                                                    <button type="button" data-toggle="collapse"
                                                        data-target="#collapseExample{{item.idorder}}"
                                                        aria-expanded="false" aria-controls="collapseExample"
                                                        ng-click="setBarang(item)"
                                                        class="btn btn-sm btn-outline-light"><i
                                                            class="fa fa-list"></i></button>
                                                    <button ng-click="showBukti(item)" data-toggle="modal"
                                                        data-target="#exampleModalCenter"
                                                        class="btn btn-sm btn-outline-light"> <i class="fa fa-edit"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="collapse" id="collapseExample{{item.idorder}}">
                                    <div class="card card-body">
                                        <table class="table">
                                            <tr>
                                                <th>ID Barang</th>
                                                <th>Nama Barang</th>
                                                <th>Jumlah</th>
                                                <th>Harga</th>
                                                <th>Total</th>
                                            </tr>
                                            <tr ng-repeat="data in item.data">
                                                <td class="font-16"><span
                                                        class="badge badge-warning">{{kodefikasi.barang(data.barang.idbarang,data.barang.tgl_publish)}}</span>
                                                </td>
                                                <td class="font-16">
                                                    <span>{{data.barang.nama_barang}}</span>
                                                </td>
                                                <td class="font-16">
                                                    <span>{{data.jumlah}}</span>
                                                </td>

                                                <td class="font-16">
                                                    <span>Rp. {{data.harga|number}}</span>
                                                </td>

                                                <td class="font-16">
                                                    <span>Rp.{{data.harga * data.jumlah|number}}</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Bukti Pembayaran & Verifikasi pembayaran</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img style="width: 100%; height: 250px;"
                    ng-src="../../../images/bukti/{{model.pembayaran.bukti_pembayaran}}" alt="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button ng-if="model.pembayaran.status_pembayaran!='Lunas'" type="button" class="btn btn-primary"
                    ng-click="verifikasiPembayaran(model)">Verifikasi</button>
            </div>
        </div>
    </div>
</div>