<div class="row">
    <!--  pageheader  -->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title"><i class="fa fa-fw fa-clipboard-list"></i> Managemen Transaksi </h2>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">WPKS</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Managemen Transaksi</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- end pageheader  -->





    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-5">
        <style>
            .card-header {
                display: flex;
                justify-content: space-between;
            }
        </style>
        <div class="card">
            <div class="card-header">
                <h5> Data Management</h5>
                <a ng-click="new()" class="btn btn-success" data-toggle="modal" data-target="#modelId"
                    href="javascript:void(0)" role="tab" aria-controls="profile" aria-selected="false"><i
                        class="fas fa-plus-circle"></i>Tambah Data</a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table" datatable="ng">
                        <thead class="bg-light">
                            <tr class="border-0">
                                <th class="border-0">#</th>
                                <th class="border-0">Bank Pembayaran</th>
                                <th class="border-0">Nomor Rekening</th>
                                <th class="border-0">Batas Pengiriman</th>
                                <th class="border-0">Potongan</th>
                                <th class="border-0">Status</th>
                                <th class="border-0">Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in Items">
                                <td>{{$index+1}}</td>
                                <td>{{item.nama_bank_pembayaran}}</td>
                                <td>{{item.no_rek_pembayaran}}</td>
                                <td>{{item.bts_jumlah_pengiriman}}</td>
                                <td>{{item.potongan}}</td>
                                <td>{{item.status}}</td>
                                <td>
                                    <ul class="list-group">
                                        <li class="d-flex justify-content-between align-items-center">
                                            <span class="badge  badge-pill">
                                                <div class="btn-group ml-auto float-lg-right">
                                                    <a class="btn btn-sm btn-outline-light" data-toggle="modal"
                                                        data-target="#modelId" href="javascript:void(0)"
                                                        ng-click="selectedItem(item)"><i class="far fa-edit"></i>
                                                    </a>
                                                    <button class="btn btn-sm btn-outline-light"
                                                        ng-click="delete(item)">
                                                        <i class="far fa-trash-alt"></i>
                                                    </button>
                                                </div>
                                            </span>
                                        </li>
                                    </ul>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{tambahTitle}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form ng-submit="simpan(model)" id="validationform" data-parsley-validate="" novalidate="">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-sm-left">Bank
                            Pembayaran</label>
                        <div class="col-sm-7">
                            <input ng-model="model.nama_bank_pembayaran" type="text" required=""
                                data-parsley-minlength="6" placeholder="Nama Bank Pembayaran" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-sm-left">Rekening
                            Pembayaran</label>
                        <div class="col-sm-7">
                            <input ng-model="model.no_rek_pembayaran" type="text" required="" data-parsley-minlength="6"
                                placeholder="Nomor Rekening Pembayaran" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-sm-left">Batas Pengiriman</label>
                        <div class="col-sm-7">
                            <input ng-model="model.bts_jumlah_pengiriman" number-input type="number" required=""
                                data-parsley-minlength="6" placeholder="Jumlah" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-sm-left">Potongan</label>
                        <div class="col-sm-7">
                            <input ng-model="model.potongan" type="number" required="" number-input
                                data-parsley-minlength="6" placeholder="Potongan" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-sm-left">Status Aktif</label>
                        <div class="col-sm-7">
                            <input ng-model="model.status" value="model.status=='aktif'" type="checkbox" required=""
                                data-parsley-minlength="6" placeholder="">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>