body {
  background-image: url(../assets/images/wooddark.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.account {
  height: 100vh;
  margin: auto;
  top: 10%;
}

.item-barang {
  padding: 5px;
  padding-top: 10px;
}

.main {
  margin: 20px;
}
