body {
  background-image: url(../assets/images/wooddark.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.account {
  height: 98vh;
}

.item-barang {
  padding: 5px;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-barang .item-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-barang .item-detail .item-detail-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item-barang .item-detail .item-detail-body .item {
  margin-right: 15px;
}

.item-barang .item-detail .item-footer {
  padding-top: 5px !important;
}

.main {
  margin: 20px;
}

.bg-blur {
  -webkit-filter: blur(8px);
          filter: blur(8px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-text {
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.email-confirm {
  height: 100vh;
  margin: auto;
}

.email-confirm .email-body {
  position: relative;
  height: 50%;
  width: 60%;
  top: 25%;
  margin: auto;
  background-color: transparent;
}

.email-confirm .email-body .card .card-body {
  margin: 30px;
}

.email-confirm .email-body .card .card-body .confirm-login a {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  padding: 10px;
  font-size: 18px;
}

.chart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2px;
  padding: 10px;
  background-color: white;
  border-radius: 2px;
}

.chart-item .chart-item-first {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.chart-item .chart-item-first .chart-item-first-body {
  margin-left: 10px;
  margin-right: 10px;
}

.chart-item .chart-item-first p {
  margin: 0;
}

.chart-item .chart-item-secound {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 764px) {
  .main {
    margin: 0px;
  }
  .chart-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .chart-item .chart-item-first {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .chart-item .chart-item-first p {
    margin: 0;
  }
  .chart-item .chart-item-secound {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.print-only {
  display: none !important;
}

@media print {
  @page {
    size: A4 landscape;
    max-height: 100%;
    max-width: 100%;
    margin: 0.5cm;
    scale: 0.6, 0.6;
  }
  .dashboard-wrapper {
    position: relative;
    left: 0;
    margin-left: 0px;
    min-height: 870px !important;
  }
  .noprint {
    display: none !important;
  }
  .print-only {
    display: block !important;
  }
  .print-header {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
    margin-top: -80px;
  }
  th {
    width: auto;
  }
  td,
  th {
    font-size: 12px;
  }
}

.print-header {
  display: none;
}
/*# sourceMappingURL=style.css.map */